:root {
  --text1: #d9e0ee; /* Light grayish lavender */
  --text2: #c6a0f6; /* Light purple */
  --background1: #1e1e2e; /* Very dark gray */
  --background2: #2e2e3e; /* Dark grayish purple */
  --accent1: #f2d3a1; /* Light yellow */
  --accent2: #f8c8d1; /* Soft pink */
  --accent3: #b7d6f2; /* Light blue */
}

.fira-code-header {
  font-family: 'Fira Code', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background1);
  color: var(--text1);
  font-family: 'Fira Code', monospace;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--text2);
}
h2 {
  color: var(--text1);
}

button {
  background-color: var(--text1);
  color: var(--background2);
  border: none;
  padding: 10px 20px;
  margin: 10px 0px 10px 0px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: var(--accent3);
}

header,
footer {
  background-color: var(--background2);
  color: var(--text1);
  padding: 20px;
}

.container-nav {
  display: flex;
  gap: 20px;
  background-color: var(--text1);
}

.center-nav {
  display: flex;
  gap: 10px;
  align-content: center;
  width: 95%;
}
.right-nav {
  display: flex;
  width: 3%;
  align-items: center;
}
.img-nav {
  height: 55px;
  margin: 15px 0px 0px 0px;
}
.img-home {
  height: 55px;
  border-radius: 50%;
}
